// ==========================================================================
// BUTTON styles
// ==========================================================================

//Adding button stylesheet
[class*="btn"] {
  width: 100%;
  @extend %theme;
  @extend %button;
  @extend %clearfix;
  @include mq(medium) {
    width: 17%;
    margin: 0 1%;
  }
}

//Set button background colors
.btn {
  @include bg-colors($ui-colors);
}
