// ==========================================================================
// FORM styles
// ==========================================================================

.form {

  @include e(label--hidden) {
    display: none;
  }

  @include e(input) {
    width: 95%;
    @extend %clearfix;
    @extend %center;
    @extend %form-input;
  }

  .btn--default {
    margin-top: em(20px);
    width: 100%;
  }
}
