// ==========================================================================
// GRID styles
// ==========================================================================

//Calculate grid column width & create classes
.grid__col{
@include mq(medium){
    @include g-columns;
  }
}

.container {
  	@extend %clearfix;
  	@extend %center;
  	width: 85%;

  	// Make nested grid container 100%
  	[class*="grid__col--"] > & {
  		width: 100%;
  	}

  	// Set max-width for grid container
  	@include mq(large) {
  		max-width: $g-cont-max-w;
  	}
  }

.grid__row {
  @extend %clearfix;
}

div[class*="theme__colors"] {
  @extend %theme;
  background-color: $grey;
  margin: 1em em(5px);
  @extend %centertext;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
