// ==========================================================================
// IMAGES styles
// ==========================================================================
.img--logo {
  @extend %center;
  margin-top: em(42px);
  margin-bottom: em(42px);
}

.img--avatar {
  @extend %center;
  @extend %clearfix;
  padding: 1em 0;
}
