// ==========================================================================
// NAVIGATION styles
// ==========================================================================
.nav {
    @include flexbox(flex, column);
    margin-top: 1em;
    margin-bottom: em(50px);
    @extend %center;
    @include mq(medium) {
      @include flexbox($flex-direction: row, $justify-content: flex-end);
      margin-top: 2.5em;
    }
    @include mq(large){
      margin-right: 15%;
    }
    @include e(item) {
      a {
        @extend %center;
        @extend %centertext;
        @extend %nav-item-link;
        &:hover{
          background-color: $color-primary;
          color: $white;
        }
        @include mq(medium) {
          display: inline-block;
        }
      }
      @include mq(medium) {
        margin: em(20px) em(10px);
      }
    }
}
