// ==========================================================================
// NAVIGATION styles
// ==========================================================================

.nav__item {

  padding: em(12px) 0;
  margin: 10px;
  @extend %centertext;
  border-radius: $br--default;
  &:hover{
    background-color: $color-primary;
  color: $white;
  }

  &  a {
    text-decoration: none;
    color: $grey;
    &:hover {
      color: $white;
    }
  }
}
