// ==========================================================================
// TYPOGRAPHY styles
// ==========================================================================
.link {
  @extend %link;
}

.blockquote {
  border-radius: $br--default;
  border-left: 8px solid $color-primary;
  padding-left: 1em;
  font-size: 1.4em;
  line-height: 1.3em;
  font-style: italic;
  font-weight: $font-weight--light;
  color: palette(grey, light);
  margin-bottom: 2em;
}

.headline {

  &--primary{
    color: $color-primary;
    margin-left: em(10px);
    @extend %spaceafter;
    margin-top: 0;
  }
  &--secondary{
    @extend %text;
    color: palette(grey, x-light);
    font-weight: $font-weight--light;
    margin-top: em(42px);
    margin-bottom: 3em;
  }
}
.card {
  @extend %spaceafter;
  p {
    padding-right: 2em;
  }
  .headline--secondary {
    margin-bottom: em(16px);
  }
}
