// ==========================================================================
// BASE Styles
// ==========================================================================

//project rules: only style * p & ul

* {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

p {
  @extend %text;
  color: palette(grey, light);
}

ul {

}
