// ==========================================================================
// BASE Styles
// ==========================================================================

//project rules: only style * p & ul

* {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

p {
  color: palette(grey, light);
  font-size: $base__font-size;
  font-family: $font-stack--primary;
  font-weight: $font-weight--medium;
  line-height: $base__line;
}

ul {

}
